<head>
    <link href="~/desktopmodules/mvc/NhaNhac_CMS/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/desktopmodules/mvc/NhaNhac_CMS/lib/fontawesome-6.1.1/css/all.min.css" rel="stylesheet" />
    <link href="~/desktopmodules/mvc/NhaNhac_CMS/lib/DataTables/DataTables-1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/desktopmodules/mvc/NhaNhac_CMS/lib/DataTables/Buttons-2.0.1/css/buttons.dataTables.css" rel="stylesheet" />
    <link href="~/desktopmodules/mvc/NhaNhac_CMS/lib/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/desktopmodules/mvc/NhaNhac_CMS/css/site3.css" rel="stylesheet" />
    <link href="~/desktopmodules/mvc/NhaNhac_CMS/css/main.css" rel="stylesheet" />
    <link type="text/css" href="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css" rel="stylesheet" />



    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet" />

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />




    <!-- JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css" />
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css" />

    <!--
        RTL version
    -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.rtl.min.css" />
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.rtl.min.css" />
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.rtl.min.css" />
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.rtl.min.css" />
</head>
<div id="mvcContainer-@Dnn.ActiveModule.ModuleID">
    @RenderBody()
</div>
<script src="~/desktopmodules/mvc/NhaNhac_CMS/lib/jquery/dist/jquery.min.js"></script>
<script src="~/desktopmodules/mvc/NhaNhac_CMS/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/desktopmodules/mvc/NhaNhac_CMS/lib/DataTables/DataTables-1.11.3/js/jquery.dataTables.min.js"></script>
<script src="~/desktopmodules/mvc/NhaNhac_CMS/lib/DataTables/Buttons-2.0.1/js/dataTables.buttons.min.js"></script>
<script src="~/desktopmodules/mvc/NhaNhac_CMS/lib/select2/dist/js/select2.min.js"></script>
<script src="~/desktopmodules/mvc/NhaNhac_CMS/lib/ckeditor/ckeditor.js"></script>

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/js/dataTables.checkboxes.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>


