
@{

    ViewBag.Title = "Quản lý tac gia";
    //Layout = "~/DesktopModules/MVC/CSDLTuongCMS/Views/Shared/_Layout.cshtml";
}


<div>
    <h3 class="admin-page-content-title">Tác Giả</h3>
    <div class="tab-content admin-content-wrapper">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="row">


                    

                    </div>
                </div>
                <div class="col-12">
                    <form>
                        <div class="input-group input-group-outline">
                            <input type="text" id="tacgia" class="form-control"
                                   value="" placeholder="nhập tên">



                            <button type="submit" id="timkiem" class="btn btn-primary">Tìm kiếm</button>
                        </div>
                    </form>


                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalTacGiaAdd">
                        <span>Thêm mới</span>
                    </button>
                    <button type="button" class="btn btn-danger" id="mutiDelete" data-toggle="modal" data-target="#modalTacGiaMutiDelete">

                        <span>Xóa</span>
                    </button>
                    <!-- Button trigger modal -->

                    <button id="modal-btn-edit" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalTacGiaEdit" style="display: none">
                        Cập nhật
                    </button>
                    <button id="modal-btn-delete" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalTacGiaDelete" style="display: none">
                        Xóa
                    </button>

                </div>
            </div>
            <div class="table-tree-wrapper">
                <div style="width:100%; margin:0 auto;">
                    <table id="dataGridTacGia" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
                        <thead>
                            <tr>
                                <th><input type="checkbox" class="align-self-md-center" id="flexCheckDefault"></th>
                                <th>Stt</th>
                                <th>Tên</th>
                                <th>Mã Ảnh</th>

                                <th>Giới Thiệu</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <!-- Modal add-->
            <div class="modal fade" id="modalTacGiaAdd" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="loai-hinh-title" id="modalTacGiaLabelAdd">Thêm mới </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form role="form" id="formTacGiaAdd" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="TacGiaInput" class="editor-label">Tên Tác Giả<span class="red-text"> *</span></label>
                                    <input class="form-control" id="tacGiaInputAdd" required onKeyUp="KiemTra();" />

                                </div>

                                <div class="form-group">
                                    <label for="formFile" class="form-label">Ảnh</label>
                                    <input class="form-control" type="file" id="formFile">

                                </div>
                                <div class="form-group">
                                    <label for="ghiChuInput" class="editor-label">Giới Thiệu</label>
                                    <textarea id="gioiThieuAdd" class="form-control" rows="3"></textarea>
                                </div>
                                <div class="modal-footer">

                                    <button type="submit" id="btnAdd" class="btn btn-submit-form btn-success">Lưu</button>
                               
                                    <button type="button" class="btn btn-close-form btn-outline-danger" data-dismiss="modal">Hủy bỏ</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal edit-->
            <div class="modal fade" id="modalTacGiaEdit" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="loai-hinh-title" id="modalLabelEdit">Chỉnh sửa </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form role="form" id="formEdit">
                                <input type="hidden" class="form-control" id="Id">
                                <div class="form-group">
                                    <label for="TacGiaInput" class="editor-label">Tên<span class="red-text"> *</span></label>
                                    <input class="form-control" id="tacGiaInputEdit" required onKeyUp="KiemTra();" />

                                </div>
                                <div class="form-group">
                                    <label for="formFile" class="form-label">Ảnh</label>
                                    <input class="form-control" type="file" id="formFile1">
                                </div>



                                <div class="form-group">
                                    <label for="gioiThieuInput" class="editor-label">Giới Thiệu</label>
                                    <textarea id="gioiThieuEdit" class="form-control" rows="3"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" id="editTacGia" class="btn btn-submit-form btn-success">Lưu</button>
                                    <button type="button" class="btn btn-close-form btn-outline-danger" data-dismiss="modal">Hủy bỏ</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>



            <!--modal Muti delete-->
            <div class="modal fade" id="modalTacGiaMutiDelete" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="loai-hinh-title" id="modalLabelDelete">Xóa Tác Giả</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form role="form" id="formDelete">
                                <input type="hidden" class="form-control" id="IdDelete">
                                <div class="form-group">
                                    Bạn có chắc chắn muốn xóa các tác giả?
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" id="mutiDeleteTacGia" class="btn btn-primary text-white">Đồng ý</button>
                                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Hủy</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--modal delete-->
            <div class="modal fade" id="modalTacGiaDelete" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="loai-hinh-title" id="modalLabelDelete">Xóa tác giả</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form role="form" id="formDelete">
                                <input type="hidden" class="form-control" id="IdDelete">
                                <div class="form-group">
                                    Bạn có chắc chắn muốn xóa ?
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" id="deleteTacGia" class="btn btn-primary text-white">Đồng ý</button>
                                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Hủy</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        let dtb = $('#dataGridTacGia').dataTable({
            "order": [],
            "autoWidth": false,
            "ordering": true,
            "bInfo": false,
            "bLengthChange": false,
            "filter": true,
            "language": {
                "sProcessing": "Đang xử lý...",
                "sLengthMenu": "Hiện: _MENU_",
                "sZeroRecords": "Không có dữ liệu",
                "sEmptyTable": "Bảng trống",
                "sInfo": "Hiện dòng _START_ đến _END_ trong tổng _TOTAL_ dòng",
                "sInfoEmpty": "Hiện dòng 0 đến 0 trong tổng 0 dòng",
                //"sInfoPostFix": "Tìm kiếm...",
                "sSearch": "Tìm kiếm",
                "sLoadingRecords": "Đang tải...",
                paginate: {
                    next: '<i class="fas fa-chevron-right paging-chevron">',
                    previous: '<i class="fas fa-chevron-left paging-chevron">'
                }
            },


            columnDefs: [
                {
                    'targets': 0,
                    'checkboxes': {
                        'selectrow': true
                    },
                },
                {
                    'targets': [0, 1, 3, 4, 5],
                    orderable: false,
                },

                {

                    targets: 5,
                    render: function (data, type, row, meta) {
                        return '<i class="fas fa-edit edit-TacGia blue-text command-icon" id=n-"' + meta.row + '"></i><i class="far fa-trash-alt delete-TacGia red-text command-icon" id=n-"' + meta.row + '"></i>';
                    },


                },

            ],
            "select": {
                'style': 'multi'
            },
            "ajax": {
                url: window.location.origin + '/api/NhaNHac_CMS/TacGiaApi/Gets',
                type: "GET",

                dataSrc: function (data) {
                    for (let i = 0; i < data.length; i++) {
                        data[i].stt = i + 1;
                    }
                    return data;
                },
            },

            "columns": [
                { data: "MaTacGia", "class": "center-align", "width": "100px" },
                { data: "stt", "width": "50px", "class": "stt-text center-align" },
                { data: "Ten", "class": "left-align" },
                { data: "MaAnh", "class": "left-align" },
                { data: "GioiThieu", "class": "left-align" },
                { "data": "id", "class": "center-align", "width": "100px" },
            ]
        });


        $('#mutiDelete').on('click', function (e) {
            var form = this;

            var rows_selected = dtb.api().column(0).checkboxes.selected();

            // Iterate over all selected checkboxes
            $.each(rows_selected, function (index, rowId) {
                // Create a hidden element
                $(form).append(
                    $('<input>')
                        .attr('type', 'hidden')
                        .attr('name', 'id[]')
                        .val(rowId)
                );
            });

            // alert(rows_selected.join(","));
            //alert($(form).serialize());
            //console.log(rows_selected.join(","));
            $('input[name="id\[\]"]', form).remove();

            $('#mutiDeleteTacGia').click(function (e) {
                e.preventDefault();


                a = rows_selected.join(",").split(",");


                for (i = 0; i < a.length; i++) {

                    var url = window.location.origin + '/api/NhaNhac_CMS/TacGiaApi/Delete?ID=' + a[i];
                    $.ajax({
                        url: url,
                        method: "DELETE",
                        success: function () {
                            location.reload();
                        }

                    })

                }

            })

            e.preventDefault();
        });

        $('#dataGridTacGia tbody').on('click', '.delete-TacGia', function () {
            var id = $(this).attr("id").match(/\d+/)[0];
            var data = $('#dataGridTacGia').DataTable().row(id).data();
          
            //$('#IdUserDelete').val(data.id);
            $('#modal-btn-delete').click();
         
            $('#deleteTacGia').click(function (e) {
                e.preventDefault();

               // xoa file trong fd , trong db -> xoa tac gia 
                $.ajax({
                    url: window.location.origin + '/api/NhaNhac_CMS/AnhApi/Gets?MaAnh=' + data.MaAnh,
                    method: "GET",
                    success: function (AnhGet) {
                      
                        if (AnhGet == null) {
                            var url = window.location.origin + '/api/NhaNhac_CMS/TacGiaApi/Delete?ID=' + data.MaTacGia;
                            $.ajax({
                                url: url,

                                method: "DELETE",
                                success: function () {
                                    location.reload();

                                }

                            })
                        } else {
                            $.ajax({
                                url: window.location.origin + '/api/NhaNhac_CMS/AnhApi/DeleteImage?Path=' + AnhGet.Path,
                                method: "DELETE",
                                success: function () {
                                    $.ajax({
                                        url: window.location.origin + '/api/NhaNhac_CMS/AnhApi/Delete?ID=' + data.MaAnh,
                                        method: "DELETE",
                                        success: function () {
                                            var url = window.location.origin + '/api/NhaNhac_CMS/TacGiaApi/Delete?ID=' + data.MaTacGia;
                                            $.ajax({
                                                url: url,

                                                method: "DELETE",
                                                success: function () {
                                                    location.reload();

                                                }

                                            })

                                        }

                                    })

                                }

                            })
                        }
                      
                    }

                })
        

            });
        });
        $('#dataGridTacGia tbody').on('click', '.edit-TacGia', function () {
            var id = $(this).attr("id").match(/\d+/)[0];
            var data = $('#dataGridTacGia').DataTable().row(id).data();

            $('#tacGiaInputEdit').val(data.Ten)
            $('#gioiThieuEdit').val(data.GioiThieu)

            $('#modal-btn-edit').click();

            $('#editTacGia').click(function (e) {
                e.preventDefault();

                if ($('#tacGiaInputEdit').val() == '') {

                    alertify.error('nhap ten tac gia');

                    return;
                }


                if ($('#formFile1').val() == '') {

                    $.ajax({
                        url: window.location.origin + '/api/NhaNhac_CMS/AnhApi/Gets?MaAnh=' + data.MaAnh,

                        method: "get",
                        success: function (getImage) {

                            if (getImage == null) {
                                tacGia = {
                                    "Ten": $('#tacGiaInputEdit').val(),
                                    "GioiThieu": $('#gioiThieuEdit').val(),
                                    "MaAnh": 0,
                                    "MaTacGia": data.MaTacGia
                                }

                                $.ajax({
                                    url: window.location.origin + '/api/NhaNhac_CMS/TacGiaApi/Puts',
                                    data: tacGia,
                                    method: "PUT",
                                    success: function () {
                                        location.reload();

                                    }
                                })
                            } else {

                                tacGia = {
                                    "Ten": $('#tacGiaInputEdit').val(),
                                    "GioiThieu": $('#gioiThieuEdit').val(),
                                    "MaAnh": getImage.FileID,
                                    "MaTacGia": data.MaTacGia
                                }
                             
                                $.ajax({
                                    url: window.location.origin + '/api/NhaNhac_CMS/TacGiaApi/Puts',
                                    data: tacGia,
                                    method: "PUT",
                                    success: function () {
                                        location.reload();

                                    }
                                })
                            }

                        }
                    })


                } else {
                    var files = $('#formFile1').get(0).files;

                    var formData1 = new FormData();
                    for (var i = 0; i < files.length; i++) {
                        formData1.append(files[i].name, files[i]);
                    }
                    var path = "~/DesktopModules/MVC/NhaNhac_CMS/UploadFiles";
                    var paththumuc = "~/DesktopModules/MVC/NhaNhac_CMS/UploadFiles";

                    $.ajax({
                        url: window.location.origin + '/api/NhaNhac_CMS/AnhApi/Gets?MaAnh=' + data.MaAnh,
                        method: "GET",
                        success: function (getImage) {
                            console.log(getImage)
                            if (getImage == null) {
                                $.ajax({
                                    url: window.location.origin + '/api/NhaNhac_CMS/AnhApi/Posts?pathFolder=' + path + '&pathThuMuc=' + paththumuc,
                                    data: formData1,
                                    method: "POST",
                                    processData: false,
                                    contentType: false,
                                    success: function (dataImageEdit) {

                                        $.ajax({
                                            url: window.location.origin + '/api/NhaNhac_CMS/AnhApi/anhPosts?url=' + dataImageEdit[0].url + '&filename=' + dataImageEdit[0].filename,
                                            method: "POST",
                                            success: function (res) {

                                                tacGia = {
                                                    "Ten": $('#tacGiaInputEdit').val(),
                                                    "GioiThieu": $('#gioiThieuEdit').val(),
                                                    "MaAnh": res.FileID,
                                                    "MaTacGia": data.MaTacGia
                                                }
                                                console.log(tacGia)
                                                $.ajax({
                                                    url: window.location.origin + '/api/NhaNhac_CMS/TacGiaApi/Puts',
                                                    data: tacGia,
                                                    method: "PUT",
                                                    success: function () {
                                                        location.reload();
                                                    }
                                                })
                                            }
                                        })
                                    }
                                })
                            } else {


                                $.ajax({
                                    url: window.location.origin + '/api/NhaNhac_CMS/AnhApi/Puts?pathFolder=' + path + '&pathThuMuc=' + paththumuc + '&nameImage=' + getImage.Title,
                                    data: formData1,
                                    method: "PUT",
                                    processData: false,
                                    contentType: false,
                                    success: function (dataImage) {
                                        console.log(dataImage)
                                        Anh = {
                                            "Title": dataImage[0].filename,
                                            "Path": dataImage[0].url,
                                            "FileID": getImage.FileID
                                        }

                                        $.ajax({
                                            url: window.location.origin + '/api/NhaNhac_CMS/AnhApi/Puts',
                                            data: Anh,
                                            method: "PUT",
                                            success: function (dataPuts) {



                                                tacGia = {
                                                    "Ten": $('#tacGiaInputEdit').val(),
                                                    "GioiThieu": $('#gioiThieuEdit').val(),
                                                    "MaAnh": dataPuts.FileID,
                                                    "MaTacGia": data.MaTacGia
                                                }

                                                $.ajax({
                                                    url: window.location.origin + '/api/NhaNhac_CMS/TacGiaApi/Puts',
                                                    data: tacGia,
                                                    method: "PUT",
                                                    success: function () {
                                                        location.reload();
                                                    }
                                                })


                                            }
                                        })

                                    }
                                })


                            }


                        }
                    })


                }

            });


        });

    });
    function KiemTra() {
        if (tacGiaInputAdd.value.length > 200) alert("Bạn đã gõ trường 'Tên ' quá 200 ký tự cho phép!");
        if (tacGiaInputEdit.value.length > 200) alert("Bạn đã gõ trường 'Tên' quá 200 ký tự cho phép!");
    }


    $('#btnAdd').click(function (e) {
        e.preventDefault();



        if ($('#tacGiaInputAdd').val() == '') {
            alertify.error('nhap ten tac gia');
            return;
        }

        //for (const pair of formdata.entries()) {
        //    console.log(`${pair[0]}, ${pair[1]},`);
        //}

        if ($('#formFile').val() == '') {
            tacGia = {
                "Ten": $('#tacGiaInputAdd').val(),
                "GioiThieu": $('#gioiThieuAdd').val(),
                "MaAnh": 0
            }

            $.ajax({
                url: window.location.origin + '/api/NhaNhac_CMS/TacGiaApi/Posts',
                data: tacGia,
                method: "POST",
                success: function () {
                    location.reload();

                }

            })
        } else {
            var files = $('#formFile').get(0).files;

            var formData1 = new FormData();
            for (var i = 0; i < files.length; i++) {
                formData1.append(files[i].name, files[i]);
            }
            var path = "~/DesktopModules/MVC/NhaNhac_CMS/UploadFiles";
            var paththumuc = "~/DesktopModules/MVC/NhaNhac_CMS/UploadFiles";

            $.ajax({
                url: window.location.origin + '/api/NhaNhac_CMS/AnhApi/Posts?pathFolder=' + path + '&pathThuMuc=' + paththumuc,
                data: formData1,
                method: "POST",
                processData: false,
                contentType: false,
                success: function (data) {

                    $.ajax({
                        url: window.location.origin + '/api/NhaNhac_CMS/AnhApi/anhPosts?url=' + data[0].url + '&filename=' + data[0].filename,
                        method: "POST",
                        success: function (res) {

                            tacGia = {
                                "Ten": $('#tacGiaInputAdd').val(),
                                "GioiThieu": $('#gioiThieuAdd').val(),
                                "MaAnh": res.FileID
                            }

                            $.ajax({
                                url: window.location.origin + '/api/NhaNhac_CMS/TacGiaApi/Posts',
                                data: tacGia,
                                method: "POST",
                                success: function () {
                                    location.reload();
                                }
                            })
                        }
                    })
                }
            })
        }

    });
    $('#timkiem').click(function (e) {
        e.preventDefault();

        let tukhoa = $('#tacgia').val();

        var url = window.location.origin + '/api/NhaNhac_CMS/TacGiaApi/search?tukhoa=' + tukhoa;
        $.ajax({
            url: url,

            method: "GET",
            success: function (data) {


                for (let i = 0; i < data.length; i++) {
                    data[i].stt = i + 1;
                }
                $('#dataGridTacGia').DataTable().clear();
                $('#dataGridTacGia').DataTable().rows.add(data);
                $('#dataGridTacGia').DataTable().draw();


            }

        })
    });
</script>

